{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a >
            <div class="img-logo">
                <img src="{% static 'img/logo2.png' %}" align="left">
            </div>
        </a>
        <nav>
            <ul>
                <li><a >Головна</a></li>
                <li><a>Статистика</a></li>
                <form id="logoutForm" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <!-- <button type="submit">Вийти</button> -->
                    <li onclick="logoutForm.submit();"><a>Вийти</a></li>
                </form>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2025 Усі права захищені</p>
    </footer>
</body>
</html>
